.Hero {
  /* width: 100%; */
  position: relative;
  background-size: cover;
  min-height: 1000px;
}

.Sections {
  width: 100%;
  position: relative;
  min-height: 730px;
  padding-top: 50px;
  padding-right: 20px;
}

#pricingsection {
  min-height: 600px;
}

.Hero .content {
  position: relative;
  z-index: 4;
  width: 500px;
  left: 5vw;
  top: 7vw;
  color: #faf1f2;
}
.Hero .content .logo {
  max-width: 250px;
  display: block;
  position: relative;
  left: -5px;
}
.Hero .content p {
  width: 100%;
}
.Hero .content .button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  margin-top: 30px;
}
.Hero .content .button-wrapper .Button:first-child {
  margin-right: 10px;
}
.Hero .overlay {
  /* FF3.6-15
  background: -webkit-linear-gradient(
    top,
    #221f1f 0%,
    rgba(34, 31, 31, 0) 100%
  ); */
  /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom, #221f1f 0%, rgba(34, 31, 31, 0) 100%); */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width: 1025px) {
  .Hero {
    width: 100%;
    min-height: 100%;
  }

  .Hero .content {
    padding-top: 70px;
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 500px;
  }

  #content-texth1 {
    justify-content: left;
    text-align: justify;
    font-size: 10px;
    width: 40%;
    color: white;
    box-shadow: 0px 0px 30px #0f9bec;
  }
  #content-texth2 {
    margin-top: 00px;
    display: block;
    width: 300px;
    justify-content: left;
    text-align: justify;
    font-size: 12px;
    margin-right: 20px;
    padding-right: 10px;
    color: white;
    box-shadow: 0px 0px 30px #0f9bec;
  }
}
@media (max-width: 600px) {
  .Hero {
    width: 100%;
    min-height: 100%;
  }

  .Hero .content {
    padding-top: 70px;
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 290px;
  }

  #content-texth1 {
    justify-content: left;
    text-align: justify;
    font-size: 10px;
    width: 40%;
    color: #0d0e0dc9;
    box-shadow: 0px 0px 30px #0f9bec;
  }
  #content-texth2 {
    margin-top: 100px;
    justify-content: left;
    text-align: justify;
    font-size: 12px;
    margin-right: 20px;
    padding-right: 10px;
    color: #0d0e0dc9;
    box-shadow: 0px 0px 30px #0f9bec;
  }
}
