.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-nav > li {
  margin-left: 10px;
  margin-right: 30px;
}

.navbar-brand {
  padding-left: 40px;
  padding-right: 200px;
}

#login {
  padding-left: 250px;
}

#logout {
  padding-left: 250px;
}

#signup {
  padding-left: 0px;
}

.logoNav {
  height: 50px;
  width: 50px;
}
