.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
}

.navbar-brand {
  padding-left: 20px;
  padding-right: 600px;
}

#login {
  padding-left: 330px;
}

.logoNav {
  height: 50px;
  width: 50px;
}
