#Profile {
  padding-top: 5rem;
  text-align: center;
  color: #cd5360;
  background-color: white;
  min-height: 800px;
}

#Education {
  padding-top: 5rem;
  text-align: center;
  color: #cd5360;
  background-color: white;
  min-height: 800px;
}

#Experience {
  padding-top: 5rem;
  text-align: center;
  color: #cd5360;
  background-color: white;
  min-height: 800px;
}

#Skills {
  padding-top: 5rem;
  text-align: center;
  color: #cd5360;
  background-color: white;
  min-height: 800px;
}

#projects {
  padding-top: 5rem;
  text-align: center;
  color: #cd5360;
  background-color: white;
  min-height: 800px;
}

#languages {
  text-align: center;
  color: black;
  background-color: rgb(77, 97, 153);
}

#tools {
  text-align: center;
  color: black;
  background-color: rgb(245, 146, 129);
}

#Display {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

#contact {
  /* min-height: 100vh; */
  text-align: center;
  color: black;
  background-color: rgb(248, 198, 227);
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
