.SideHove {
  opacity: 0.1;
}

.SideHove1 {
  opacity: 1;
}

.SideHove:hover {
  opacity: 1;
}

.SideHove1:hover {
  opacity: 1;
}

#Profile {
  padding-top: 5rem;
  text-align: center;
  color: #cd5360;
  background-color: white;
  min-height: 800px;
  padding-right: 20px;
}

#Education {
  text-align: center;
  color: #cd5360;
  background-color: white;
  min-height: 600px;
  padding-right: 20px;
}

#Experience {
  text-align: center;
  color: #cd5360;
  background-color: white;
  min-height: 600px;
  padding-right: 20px;
}

#Skills {
  text-align: center;
  color: #cd5360;
  background-color: white;
  min-height: 600px;
}

#projects {
  padding-top: 5rem;
  text-align: center;
  color: #cd5360;
  background-color: white;
  min-height: 600px;
  padding-right: 5px;
  padding-left: 5px;
}

#contact {
  padding-top: 5rem;
  text-align: center;
  color: white;
  background-color: #cd5360;
  min-height: 600px;
}

#modalFooter {
  color: #cd5360;
}

#Display {
  background-color: white;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}

.table {
  padding-top: 35px;
  padding-bottom: 30px;
}

ul#horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
  text-align: center;
}

ul#horizontal-list li {
  float: left;
}

.slide1 {
  min-height: 3100px;
}

.slide2 {
  min-height: 5800px;
}

#socialm {
  padding-left: 365px;
}

@media screen and (max-width: 600px) {
  ul#horizontal-list li {
    font-size: 10px;
  }
  #carousel {
    min-width: 376;
    min-height: 520px;
  }
  #socialm {
    padding-left: 0px;
  }
  .slide1 {
    width: 100%;
    min-height: 4000px;
  }
  .slide2 {
    width: 100%;
    min-height: 7000px;
  }
}
