.previewHeaderContent {
  text-align: center;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  padding-top: 300px;
}

.previewHeaderImage {
  min-height: 1000px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.previewHeaderImage .overlay {
  /* FF3.6-15
  background: -webkit-linear-gradient(
    top,
    #221f1f 0%,
    rgba(34, 31, 31, 0) 100%
  ); */
  /* Chrome10-25,Safari5.1-6 */
  /* background-blend-mode: screen; */
  /* background: linear-gradient(#6282b1 0%, rgba(0, 161, 248, 40%)); */
  background: radial-gradient(rgba(15, 15, 15, 25%), rgb(31, 29, 29));

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
