.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}

.fade-appear.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

/* .fade-enter {
    opacity: 0.01;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
  } */
