@import url("https://fonts.googleapis.com/css?family=Raleway");

.center {
  padding-top: 10em;
  padding-bottom: 10em;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 0.8rem;
  margin-left: 30px;
}

.card > form {
  display: flex;
  flex-direction: column;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #438496;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 5px;
  margin-bottom: 2rem;
  height: 30px;
  width: auto;
  border: 1px solid grey;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 35px;
  color: #ffffff;
  font-size: 20px;
  background-color: #cd5360;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
}
.form-submit:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .center {
    padding-top: 10em;
    padding-bottom: 10em;
    background-color: #ffffff;
    position: none;
    display: inline;
    justify-content: none;
    align-items: none;
  }

  .card {
    margin-left: 5px;
  }

  .form-item {
    width: auto;
  }
}
