@import url("https://fonts.googleapis.com/css?family=Raleway");

.center {
  padding-top: 10em;
  padding-bottom: 10em;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff;
  position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(248, 233, 165);
  border-radius: 15px;
  padding: 0.8rem;
  margin-left: 30px;
}

.card > form {
  display: flex;
  flex-direction: column;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 5px;
  margin-bottom: 2rem;
  height: 30px;
  width: 16rem;
  border: 1px solid grey;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 35px;
  color: rgb(2, 2, 2);
  background-color: #eafce6;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
}
.form-submit:hover {
  opacity: 0.8;
}
